<include header.html></include>
<div class="mui-content">
    <ul class="mui-table-view mui-table-view-chevron">
        <% for ( var index = 0; index < areas.length; index++) { %>
        <li class="mui-table-view-cell mui-media">
            <a class='mui-navigate-right' href="javascript:;">
                <img class="mui-media-object mui-pull-left" src="../images/tsg.jpg">
                <div class="mui-media-body">
                    <%= areas[index].building_name %> <%= areas[index].area_name %>
                    <p class='mui-ellipsis'>当前空闲教室{0}个，座位空闲率{1}</p>
                </div>
            </a>
            </li>
        <% } %>
    </ul>
</div>
<include footer.html></include>