<% include ../views/header.html %>
<style>
    .bar {
        background-color: #FFFFFF;
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        background-color: #33475F;
    }

    .content {
        background-color: #E7E9ED;
        position: absolute;
        top: 2.8rem;
    }

    .content-block {
        padding: 0;
        margin: 0;
    }

    .classroom-list {
        margin: 0;
        padding: 0;
    }

    .classroom-list ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .classroom-list ul li {
        margin: 0.1rem 0 0 0;
        background-color: #FFFFFF;
        border-radius: 0 0 0.1rem 0.1rem;
    }

    .classroom-title {
        line-height: 1.25rem;
        font-family: 华文中宋;
        border-radius: 0 0 0.1rem 0.1rem;
        padding: 0.25rem 0.3125rem;
    }


    .status-nav {
        font-size: 0.75rem;
        margin: 0px auto;
        padding: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: #FFFFFF;
    }

    .status-row-cell {
        width: 20%;
        float: left;
        text-align: center;
        line-height: 1.25rem;
        background-color:#FFFFFF;
    }

    .status-row-item {
        width: 20%;
        float: left;
        text-align: center;
        line-height: 1.25rem;
        background-color:#FFFFFF;
        padding: 0.25rem 0rem;
    }

    .status-row-spliter {
        width: 20%;
        float: left;
        text-align: center;
        line-height: 0.3rem;
    }

    .status-item{
        line-height: 16px;
        display: inline-block;
    }

    .status-icon{
        height: 16px;
        width: 16px;
        margin: 0px;
        float: left;
        text-align: center;
        outline: none;
        font-size: 0.75em;
        line-height:16px;
        color: blue;

        color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        cursor: default;
        margin: 0px auto;
        padding: 0px;
    }

    .status-description{
        color: #000000;
        font-size: 0.75em;
        height: 16px;
        line-height: 16px;
        margin: 0px 0px 0px 2px;
    }

    .seat-status{
        padding: 0.3125rem 0;

        z-index: 20;

        list-style: none;
        padding: 0;
        text-align: center;
    }


    .seat-operation{
        padding: 0.3125rem 0;

        right:0;

        z-index: 20;

        list-style: none;
        padding: 0;
        text-align: center;
    }

    .operation-select{
        display: inline-block;
        padding: 0.1875rem 0.3125rem;
        width: 3.75rem;
        border: 0.0625rem solid #A00000;
        color: #A00000;
    }

    .card-footer{
        padding: 0rem 0.75rem;
    }

    .card-footer:before{
        height: 0px;
    }

    .classroom-time-status{
        margin: 0px auto;
        padding: 0.25rem 0rem;
    }

</style>
<div class="page">
    <!--<header class="bar bar-nav theme-dark">
        <h1 class="title">教室导航</h1>
    </header>-->

    <div class="status-nav">
        <div class="status-row-cell">08:00</div>
        <div class="status-row-cell">10:00</div>
        <div class="status-row-cell">14:00</div>
        <div class="status-row-cell">16:00</div>
        <div class="status-row-cell">19:00</div>

        <div class="status-row-spliter">-</div>
        <div class="status-row-spliter">-</div>
        <div class="status-row-spliter">-</div>
        <div class="status-row-spliter">-</div>
        <div class="status-row-spliter">-</div>

        <div class="status-row-cell">10:00</div>
        <div class="status-row-cell">12:00</div>
        <div class="status-row-cell">16:00</div>
        <div class="status-row-cell">18:00</div>
        <div class="status-row-cell">21:00</div>

        <!--<div class="status-row-cell">空闲</div>
        <div class="status-row-cell">空闲</div>
        <div class="status-row-cell">空闲</div>
        <div class="status-row-cell">空闲</div>
        <div class="status-row-cell">空闲</div>-->
    </div>

    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item active" id="buildingTab" href="http://www.julyangel.cn/building2" external>
            <span class="icon icon-home"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="http://www.julyangel.cn/index" external>
            <span class="icon icon-settings"></span>
            <span class="tab-label">七玥星空</span>
        </a>
        <a class="tab-item" id="meTab" href="http://www.julyangel.cn/me2" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div class="content-block">
            <div class="classroom-list">
                <ul>
                    <% for ( var index = 0; index < classroomList.length; index++) { %>
                    <li>
                        <div class="classroom-title">
                            <div class="classroom-name"><%= classroomList[index].area_name %> <%= classroomList[index].classroom_name %></div>
                        </div>
                        <div class="classroom-time-status">
                            <div class="status-row-item">空闲</div>
                            <div class="status-row-item">空闲</div>
                            <div class="status-row-item">空闲</div>
                            <div class="status-row-item">空闲</div>
                            <div class="status-row-item">空闲</div>
                        </div>
                        <div class="card-footer">
                            <ul class="seat-status">
                                <li class="status-item"><span
                                            class="status-icon available16 normal-seat"></span><span
                                            class="status-description">空座 20</span></li>
                                <li class="status-item"><span
                                            class="status-icon booked-seat-boy16 booked-seat-boy"></span><span
                                            class="status-description">男生 16</span></li>
                                <li class="status-item"><span
                                            class="status-icon booked-seat-girl16 booked-seat-girl"></span><span
                                            class="status-description">女生 23</span></li>
                            </ul>
                            <ul class="seat-operation" id="<%= classroomList[index].classroom_id %>">
                                <li class="operation-select">选座</li>
                            </ul>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='/scripts/zepto.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<script type='text/javascript' src='/scripts/sm.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/touch.js' charset='utf-8'></script>

<script>
    $("#buildingTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/building2");
    });
    $("#skyTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/index");
    });
    $("#meTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/me2");
    });
    $(".seat-operation").tap(function () {
        window.location.assign("http://www.julyangel.cn/seatMap/" + this.getAttribute('id'));
    });
</script>
<% include ../views/footer.html %>