<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes, minimal-ui"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="author" contect="pchen, 2858212885@qq.com"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel='stylesheet' href='/stylesheets/mui.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="mui-content">
    <ul class="mui-table-view mui-table-view-chevron">
        <% for ( var index = 0; index < areas.length; index++) { %>
        <li class="mui-table-view-cell mui-media">
            <a class='mui-navigate-right' href="javascript:;">
                <img class="mui-media-object mui-pull-left" src="../images/tsg.jpg">
                <div class="mui-media-body">
                    <%= areas[index].building_name %> <%= areas[index].area_name %>
                    <p class='mui-ellipsis'>当前空闲教室{0}个，座位空闲率{1}</p>
                </div>
            </a>
            </li>
        <% } %>
    </ul>
</div>

</body>
<script src="/scripts/mui.min.js"></script>
<script>
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
</script>
</html>