<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes, minimal-ui"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="author" contect="pchen, 2858212885@qq.com"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css?v=201605240918'/>
    <link rel='stylesheet' href='/stylesheets/reset.css?v=2016041102'/>
    <link rel='stylesheet' href='/stylesheets/waterfall.css?v=2016051501'/>
</head>
<body>