<% include header.html %>
<style>
    .content{
        background:url('/images/subscribe-background.jpeg') #FFFFFF;
        max-width: 25rem;
        margin: 0 auto;
    }

    .content-block{
        margin: 2.75rem;
        padding: 0;
    }

    .description{
        margin: 2rem 0;
        font-size: 1rem;
        color: #2598A5;
    }
</style>
<div class="page">
    <div class="content">
        <div class="content-block" style="text-align: center;">
            <img src="/images/qrcode.jpg" style="width:100%">
            <div class="description">
                <span>长按二维码关注七玥天使</span>
                <span>迅速找座 快乐学习</span>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<% include footer.html %>