<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" contect="pchen, 2858212885@qq.com" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hi, Chen Pu! Welcome to <%= title %></p>
  </body>
</html>
