<% include header.html %>
<style>
    .content-block{
        margin: 2.75rem;
        padding: 0;
    }
</style>
<div class="page">
    <div class="content" style="background-color: #FFFFFF; background-img:url('/images/subscribe-background.jpeg')">
        <div class="content-block" style="text-align: center">
            <img src="/images/qrcode.jpg" style="width:100%">
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<% include footer.html %>