<% include header.html %>
<div class="page">
    <nav class="bar bar-tab">
        <a class="tab-item external" id="buildingTab" href="/building">
            <span class="icon icon-home"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item external" id="skyTab" href="/">
            <span class="icon icon-settings"></span>
            <span class="tab-label">七玥星空</span>
        </a>
        <a class="tab-item external active" id="meTab" href="/me">
            <span class="icon icon-star"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div class="list-block media-list" style="margin: 0; height: 15rem; padding: 1.25rem">
            <ul>
                <li style="background: url('../images/headerbg.jpg') no-repeat; background-size: 100%">
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><img src="<%= userInfo.headimgurl.replace('/0', '/46')%>"/></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"><span><%= userInfo.nickname%></span><span><%= userInfo.province%></span><span><%= userInfo.city%></span></div>
                            </div>
                            <div class="item-subtitle"></div>
                            <div class="item-text"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script type='text/javascript' src='/scripts/zepto.js' charset='utf-8'></script>
    <script type='text/javascript' src='/scripts/sm.js' charset='utf-8'></script>
    <script>
        $("#buildingTab").tap(function(){
            window.location.assign("/building");
        });
        $("#skyTab").tap(function(){
            window.location.assign("/");
        });
        $("#meTab").tap(function(){
            window.location.assign("/me");
        });

    </script>
</div>
<% include footer.html %>