<% include header.html %>
<div class="page">
    <header class="bar bar-nav">
        <h1 class="title">我的</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item external active" href="#">
            <span class="icon icon-home"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item external" href="#">
            <span class="icon icon-settings"></span>
            <span class="tab-label">七玥星空</span>
        </a>
        <a class="tab-item external" href="#">
            <span class="icon icon-star"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <%= userInfo.nickname%>

        <img src="<%= userInfo.headimgurl.replace('/0', '/46')%>"/>
    </div>
    <script type='text/javascript' src='/scripts/zepto.js' charset='utf-8'></script>
    <script type='text/javascript' src='/scripts/sm.js' charset='utf-8'></script>

<% include footer.html %>