<% include ../header.html %>
<style>
    .content-block {
        margin: 0;
        padding: 0;
        /*top: 2.2rem;*/
        position: relative;
    }

    .bar {
        /*background-color: #FFFFFF;*/
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        /*background-color: #33475F;*/
    }

    .card-content-inner {
        padding: 0.75rem;
        text-align: center;
    }

    .card-footer {
        color: #000000;
        background-color: #FFFFFF;
        text-align: right;
    }

    .content-block-title {
        margin: 0;
        padding: .7rem;
        background-color: #F7F7F8;
        color: #A00000;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        border-left: 4px solid #A00000;
    }

    .content-block-title:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        height: 1px;
        width: 100%;
        background-color: #EFEFF4;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    .content-block-title + .card {
        margin-top: 0;
    }

    .list-block {
        margin: 0;
    }

    .list-block ul:before {
        height: 0;
    }

    .list-block .item-media {
        padding: 0;
    }

    .list-block .item-inner {
        padding: 0;
        min-height: 0;
    }

    .list-block .item-inner:after {
        height: 0px;
    }


</style>
<div class="page">
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="/building/<%= openid %>"
           external>
            <span class="icon icon-building"></span>
            <span class="tab-label">自习座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/reading/<%= openid %>" external>
            <span class="icon icon-book"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item active" id="meTab" href="/me/<%= openid %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content" style="background-color: #FFFFFF">
        <div class="content-block">
            <ul style="padding: 0; margin: 0">
                <div class="list-block cards-list">
                    <div class="content-block-title">
                        <div class="item-media">
                            <i class="icon icon-arbitration"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">文明用座规范</div>
                            <div></div>
                        </div>
                    </div>
                    <li class="card" style="height: auto; background-color: #FFFFFF; margin: 0">
                        <div class="card-content">
                            <div class="card-content-inner"
                                 style="text-align: justify; line-height: 1.25rem;font-size:0.625rem;color:#666">
                                <p style="text-align: center"><b>《文明用座规范》</b></p>
                                <p>
                                    1、<b>有效性:</b> 使用本系统需在【我的】进行实名认证，
                                    未认证用户限10次预约权限，本系统的电子座位券为唯一有效使用凭证，以书占座或未扫码签到入座的均无效，其他读者可扫码获得座位有效使用权;
                                </p>
                                <p>
                                    2、<b>信用分:</b> 每人初始拥有12分信用分，违规一次扣除相应分值，分值扣完时需到图书馆相关部门接受文明教育后办理信用恢复;
                                    持续保持十次文明用座记录（当日未出现被系统回收座位记录且在座时间超过两小时算一次文明记录），奖励信用分1分;
                                </p>
                                <p>
                                    3、<b>预约:</b>
                                    当日至次日早晨开馆半小时内可预约次日座位，预约之后需在次日开馆半小时内扫描座位上的二维码进行签到，如不能到场，请及时在【我的】->【我的座位】进行退座。<b>过时未扫码签到，系统回收座位并扣除信用分1分</b>;
                                </p>
                                <p>
                                    4、<b>现场选座:</b> 当日开馆半小时后，选当日座位的读者请在现场扫码选座;
                                </p>
                                <p>
                                    5、<b>暂离:</b> 暂离时请扫码， 在规定时间内返回并扫码取消暂离。<b>过时未扫码取消暂离，系统回收座位并扣除信用分1分。</b>暂离时段规定如下:
                                </p>
                                <p>
                                <ul class="rules">
                                    <li class="rule">午餐午休时段: 11:00 ~ 14:00 暂离， 需14:00 前扫码签到</li>
                                    <li class="rule">晚餐洗浴时段: 17:00 ~ 19:00 暂离， 需19:00 前扫码签到</li>
                                    <li class="rule">其它时段暂离， 需半小时内扫码签到</li>
                                </ul>
                                </p>
                                <p>
                                    6、<b>违规离开:</b> 系统标识座位为“签到”状态， 而实际座位上无人时，
                                    管理员或其他读者可扫码将此座设为“暂离”。暂离期限到，原座读者未返回，该座位由系统回收，其他读者可扫码获得此座使用权，<b>原座读者扣除信用分3分</b>;
                                </p>
                                <p>
                                    7、<b>退座:</b> 座位不再使用时, 请扫码退座或在【我的座位】里退座，以方便其他读者选用。<b>未“退座”离开的属于“违规离开”，按“违规离开”处理；</b>
                                </p>

                                <p>
                                    8、<b>仲裁:</b> 七玥请各位读者自觉遵守《规范》，珍惜同学缘分，文明使用座位，共享资源，快乐学习。当出现纠纷不能协调时，请使用本系统的【申请仲裁】，
                                    管理员收到“申请仲裁”会及时到现场处理，请读者不要争执;
                                </p>
                                <p>
                                    9、<b>关于试用:</b>
                                    本学期此系统为试用期，试用区域为主馆三层和分馆三层，试用期间读者遇到任何问题可随时向公众号发送消息进行反映，我们期待你的意见和建议，共同营造轻松快乐的学习氛围。
                                </p>
                                <p>
                                    <b>二零一六年六月十二日</b>
                                </p>
                                <p>
                                    <b>华北电力大学图书馆</b>
                                </p>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<% include ../footer.html %>