body {
  padding: 0px;
  margin: 5px auto;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #1D2025;  
}

a {
  color: #00B7FF;
}

ul.seatCharts-container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.front-indicator{
  text-align: center;
  color: #EBE4EA;
  margin: 0px 0px 10px 0px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight:bold;
  border:solid #EBE4eA;
  border-width: 0px 0px 1px 0px;
}

span.seatCharts-cell {
  height: 32px;
  width: 32px;
  margin: 0px;
  float: left;
  text-align: center;
  outline: none;
  font-size: 12px;
  line-height:50px;
  color: blue;
}

span.seatCharts-seat {
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: default;
}

span.seatCharts-seat:focus {
  border: none;
}
/*
.seatCharts-seat:focus {
	outline: none;
}
*/

span.seatCharts-space {
  visibility: hidden;
}

li.seatCharts-row {
  height: 50px;
}

span.seatCharts-row:after {
  clear: both;
}

span.seatCharts-seat.selected {
  background-image: url('../images/blankseat-selected.png');
}

span.seatCharts-seat.focused {
  background-image: url('../images/blankseat-focused.png');
}

span.seatCharts-seat.available {
  background-image: url('../images/blankseat.png');
}

span.seatCharts-seat.unavailable {
  cursor: not-allowed;
}

span.seatCharts-seat.available {
  background-image: url('../images/blankseat.png');
}

span.seatCharts-seat.booked-seat-girl{
  background: url('../images/girl.png') no-repeat;
}

span.seatCharts-seat.booked-seat-boy{
  background: url('../images/boy.png') no-repeat;
}

span.seatCharts-seat.booked-seat-teaching{
  background: url('../images/teaching.png') no-repeat;
}

div.seatCharts-legend{
  margin: 5px auto;
}

ul.seatCharts-legendList {
  list-style: none;
}

li.seatCharts-legendItem {
  line-height: 16px;
  display: inline-block;
}

span.seatCharts-cell-legend {
  height: 16px;
  width: 16px;
  margin: 0px;
  float: left;
  text-align: center;
  outline: none;
  font-size: 12px;
  line-height:16px;
  color: blue;
}

span.seatCharts-seat-legend {
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: default;
  margin: 0px auto;
  padding: 0px;
}

span.seatCharts-legendDescription{
  color: white;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  margin: 0px 0px 0px 2px;
}

span.seatCharts-seat-legend.available16 {
  background-image: url('../images/blankseat16.png');
}

span.seatCharts-seat-legend.booked-seat-girl16{
  background: url('../images/girl16.png') no-repeat;
}

span.seatCharts-seat-legend.booked-seat-boy16{
  background: url('../images/boy16.png') no-repeat;
}

span.seatCharts-seat-legend.booked-seat-teaching16{
  background: url('../images/teaching16.png') no-repeat;
}