body {
  padding: 0px;
  margin: 0px auto;
  font: 0.75em 宋体;
  background: #1D2025;  
}

a {
  color: #00B7FF;
}

div#content-wrapper{
  text-align: center;
  margin: 0px auto;
}

ul.seatCharts-container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

div#seat-map{
  margin: 0px auto;
  padding: 10px 0px 0px 0px;
  /*border:solid #EBE4eA;
  border-width: 1px 0px 0px 0px;*/
}


li.seatCharts-row{
  display: inline-block;
}

.front-indicator{
  text-align: center;
  color: #EBE4EA;
  margin: 0px auto;
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  font-weight:bold;
}

span.seatCharts-cell {
  height: 32px;
  width: 32px;
  margin: 0px;
  float: left;
  text-align: center;
  outline: none;
  font-size: 0.75em;
  line-height:50px;
  color: blue;
}

span.seatCharts-seat {
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: default;
}

span.seatCharts-seat:focus {
  border: none;
}
/*
.seatCharts-seat:focus {
	outline: none;
}
*/

span.seatCharts-space {
  visibility: hidden;
}

li.seatCharts-row {
  height: 50px;
}

span.seatCharts-row:after {
  clear: both;
}

span.seatCharts-seat.selected {
  background-image: url('../images/blankseat-selected.png');
}

span.seatCharts-seat.focused {
  background-image: url('../images/blankseat-focused.png');
}

span.seatCharts-seat.available {
  background-image: url('../images/blankseat.png');
}

span.seatCharts-seat.unavailable {
  cursor: not-allowed;
}

span.seatCharts-seat.available {
  background-image: url('../images/blankseat.png');
}

span.seatCharts-seat.booked-seat-girl{
  background: url('../images/girl.png') no-repeat;
}

span.seatCharts-seat.booked-seat-boy{
  background: url('../images/boy.png') no-repeat;
}

span.seatCharts-seat.booked-seat-teaching{
  background: url('../images/teaching.png') no-repeat;
}

div.seatCharts-legend{
  margin: 0px auto;
  padding: 0.3125rem 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1.875rem;
  z-index: 20;
  background-color: #FFFFFF;
}

ul.seatCharts-legendList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

li.seatCharts-legendItem {
  line-height: 16px;
  display: inline-block;
}

span.seatCharts-cell-legend {
  height: 16px;
  width: 16px;
  margin: 0px;
  float: left;
  text-align: center;
  outline: none;
  font-size: 0.75em;
  line-height:16px;
  color: blue;
}

span.seatCharts-seat-legend {
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: default;
  margin: 0px auto;
  padding: 0px;
}

span.seatCharts-legendDescription{
  color: #000000;
  font-size: 0.75em;
  height: 16px;
  line-height: 16px;
  margin: 0px 0px 0px 2px;
}

span.seatCharts-seat-legend.available16 {
  background-image: url('../images/blankseat16.png');
}

span.seatCharts-seat-legend.booked-seat-girl16{
  background: url('../images/girl16.png') no-repeat;
}

span.seatCharts-seat-legend.booked-seat-boy16{
  background: url('../images/boy16.png') no-repeat;
}

span.seatCharts-seat-legend.booked-seat-teaching16{
  background: url('../images/teaching16.png') no-repeat;
}

div.card-time:before{
  content: '';
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #924A4A;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.card-time{
  position: relative;
  padding: 0.625rem 0;
}

div.card-time-header{
  width: 20%;
  float: left;
  text-align: center;
  font-size: 0.5rem;
  color: #FFCEA6;
}

div.card-time-status{
  width: 20%;
  float: left;
  text-align: center;
  font-size: 0.5rem;
  line-height: 1.25rem;
  color: #FFCEA6;
}

div.seatCharts-legend:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #33475F;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.nav-day-switch{
  margin: 0px auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.5rem;
  height: 1.875rem;
  z-index: 20;
  background-color: #1D2025;
}

div.nav-day-switch:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #33475F;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.nav-day{
  width: 50%;
  line-height: 1.875rem;
  float: left;
  text-align: center;
  background-color: #272626;
}

div.nav-day-active{
  width: 50%;
  line-height: 1.875rem;
  float: left;
  text-align: center;
  background-color: #040101;
}

div.nav-day A{
  width: 50%;
  line-height: 1.875rem;
}

div.left{
  position: absolute;
  left: 0;
  right: auto;
  top:1.875rem;
  width: 5rem;
  bottom: 2.5rem;
  z-index: 20;
  background-color: #E7EEE6;
}

div.time:after{
  content: '';
  left: 0;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #33475F;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.time-header{
  line-height: 1rem;
  text-align: center;
  color: #104C56;
}

div.time-spliter{
  line-height: 0.3125rem;
  text-align: center;
  color: #104C56;
}

div.time-status{
  line-height: 1rem;
  text-align: center;
  color: #104C56;
}

div.time-title-caption{
  text-align: center;
  font-weight: bold;
}

div.time-title-date{
  text-align: center;
  margin: 0.625rem;
}

div.time-title-date:after{
  content: '';
  left: 0;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #33475F;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.date-caption{
  text-align: center;
  margin: 0.625rem;
}

div.date-caption:after{
  content: '';
  left: 0;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #33475F;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.date-item{
  text-align: center;
  font-size: 0.65rem;
  line-height: 1.875rem;
  background-color: #7A9665;
  margin: 0.625rem 0;
}