@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1463923030_2946215.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1463923030_2946215.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1463923030_2946215.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1463923030_2946215.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1463923030_2946215.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-building:before{
  content: "\e603";
}

.icon-star:before{
  content: "\e604";
}

.icon-me:before{
  content: "\e607";
}

.icon-my-seat:before{
  content: "\e606";
}

.icon-leave-application:before{
  content: "\e609";
}

.icon-photo:before{
  content:"\e60a";
}

.icon-seat-signed:before{
  content:"\e60e";
}

.icon-warn:before{
  content:"\e60f";
}

.icon-direction:before{
  content:"\e610";
}

.icon-book:before{
  content:"\e60b";
}

.icon-windows:before{
  content:"\e611";
}

body {
  padding: 0px;
  margin: 0px auto;
  font: 0.75rem 华文中宋;
  background: #1D2025;  
}

a {
  color: #00B7FF;
}

div#content-wrapper{
  text-align: center;
  margin: 0px auto;
}

ul.seatCharts-container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

div#seat-map{
  margin: 0px auto;
  padding: 10px 0px 0px 0px;
  /*border:solid #EBE4eA;
  border-width: 1px 0px 0px 0px;*/
}

a.seatCharts-seat{
  float: left;
}

li.seatCharts-row{
  height: 2.5rem;
}

.front-indicator{
  text-align: center;
  color: #EBE4EA;
  margin: 0px auto;
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  font-weight:bold;
}

span.seat-img{
  height: 1.2rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

span.seat-label{
  display: block;
}

span.seatCharts-cell {
  height: 32px;
  width: 32px;
  /*margin: 0 0.125rem 0 0;
  float: left;
  font-size: 0.75em;*/
  text-align: center;
  outline: none;
  line-height:50px;
  color: blue;
  /*padding-top: 0.55rem;*/
}

span.seatCharts-seat {
  color: #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: default;
}

span.seatCharts-seat:focus {
  border: none;
}
/*
.seatCharts-seat:focus {
	outline: none;
}
*/

span.seatCharts-space {
  visibility: hidden;
}

li.seatCharts-row {
  /*height: 50px;*/
}

span.seatCharts-row:after {
  clear: both;
}

span.seatCharts-seat.selected {
  background-image: url('../images/blankseat-selected.png');
}

span.seatCharts-seat.focused {
  background-image: url('../images/blankseat-focused.png');
}

span.seatCharts-seat.normal-seat {
  background-image: url('../images/blankseat.png');
}

span.seatCharts-seat.unavailable {
  cursor: not-allowed;
}

span.seatCharts-seat.booked-seat-girl{
  background: url('../images/girl.png') no-repeat;
}

span.seatCharts-seat.booked-seat-boy{
  background: url('../images/boy.png') no-repeat;
}

span.seatCharts-seat.booked-seat-teaching{
  background: url('../images/teaching.png') no-repeat;
}

span.seatCharts-seat.windows-seat{
  background: url('../images/blankseatwithwindows.png') no-repeat;
}

span.seatCharts-seat.power-seat{
  background: url('../images/blankseatwithpower.png') no-repeat;
}

span.seatCharts-seat.windows-power-seat{
  background: url('../images/blankseatwithwindow&power.png') no-repeat;
}

span.seatCharts-seat.windows{
  background: url('../images/windows.png') no-repeat center;
}

span.seatCharts-seat.power{
  background: url('../images/power.png') no-repeat center;
}

span.seatCharts-seat.windows-power{
  background: url('../images/windows&power.png') no-repeat center;
}

div.seatCharts-legend{
  margin: 0px auto;
  padding: 0.3125rem 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.5rem;
  height: 1.5rem;
  z-index: 20;
  background-color: #FECCA8;
}

ul.seatCharts-legendList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

li.seatCharts-legendItem {
  line-height: 16px;
  display: inline-block;
}

span.seatCharts-cell-legend {
  height: 16px;
  width: 16px;
  margin: 0px;
  float: left;
  text-align: center;
  outline: none;
  font-size: 0.75em;
  line-height:16px;
  color: blue;
}

span.seatCharts-seat-legend {
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: default;
  margin: 0px auto;
  padding: 0px;
}

span.seatCharts-legendDescription{
  color: #000000;
  font-size: 0.75em;
  height: 16px;
  line-height: 16px;
  margin: 0px 0px 0px 2px;
}

span.available16 {
  background-image: url('../images/blankseat16.png');
}

span.booked-seat-girl16{
  background: url('../images/girl16.png') no-repeat;
}

span.booked-seat-boy16{
  background: url('../images/boy16.png') no-repeat;
}

span.booked-seat-teaching16{
  background: url('../images/teaching16.png') no-repeat;
}

span.windows-seat16{
  background: url('../images/blankseatwithwindow16.png') no-repeat;
}

span.power-seat16{
  background: url('../images/blankseatwithpower16.png') no-repeat;
}

span.windows-power-seat16{
  background: url('../images/blankseatwithwindow&power16.png') no-repeat;
}

span.empty-seat{

}

div.seatCharts-legend:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 0px;
  width: 100%;
  background-color: #33475F;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.nav-day-switch{
  margin: 0px auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.5rem;
  height: 1.875rem;
  z-index: 20;
  background-color: #1D2025;
}

div.nav-day-switch:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #33475F;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.nav-day{
  width: 50%;
  line-height: 1.875rem;
  float: left;
  text-align: center;
  background-color: #272626;
}

div.nav-day-active{
  width: 50%;
  line-height: 1.875rem;
  float: left;
  text-align: center;
  background-color: #040101;
}

div.nav-day A{
  width: 50%;
  line-height: 1.875rem;
}

div.left{
  position: absolute;
  left: 0;
  right: auto;
  top:1.875rem;
  width: 5rem;
  bottom: 2.5rem;
  z-index: 20;
  background-color: #E7EEE6;
}

div.time:after{
  content: '';
  left: 0;
  right: auto;
  height: 0px;
  width: 100%;
  background-color: #33475F;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.time-header{
  line-height: 1rem;
  text-align: center;
  color: #104C56;
}

div.time-spliter{
  line-height: 0.3125rem;
  text-align: center;
  color: #104C56;
}

div.time-status{
  line-height: 1rem;
  text-align: center;
  color: #104C56;
}

div.time-title-caption{
  text-align: center;
  font-weight: bold;
}

div.time-title-date{
  text-align: center;
  margin: 0.625rem;
}

div.time-title-date:after{
  content: '';
  left: 0;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #33475F;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.date-caption{
  text-align: center;
  margin: 0.625rem;
}

div.date-caption:after{
  content: '';
  left: 0;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #33475F;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.date-item-active{
  text-align: center;
  font-size: 0.65rem;
  line-height: 1.875rem;
  background-color: #7A9665;
  margin: 0rem 0;
}

div.date-item{
  text-align: center;
  font-size: 0.65rem;
  line-height: 1.875rem;
  background-color: #8D9A84;
  margin: 0rem 0;
}

div.date-item-active A{
  color: #FFFFFF;
}

div.date-item A{
  color: #FFFFFF;
}

div.time-selector{
  position: absolute;
  bottom: 0;
  width: 100%;
}

div.time{
  margin: 0.625rem 0;
}